/* Importação da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilos Gerais */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #001E38; /* azul escuro de fundo */
    color: #FFFFFF; /* texto branco */
}

/* Rodapé */
.footer_area {
    background: linear-gradient(135deg, #001E38, #000000);
   /* background-color: #001E38;  teste de cor /* azul escuro */
    color: #FFFFFF; /* texto branco */
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer_col {
    flex: 1 1 200px;
    min-width: 200px;
}

/* Títulos */
.widget-title {
    margin-bottom: 15px;
    color: #96FAFA; /* azul claro */
    font-size: 18px;
    font-weight: 600;
}

/* Links */
.footer_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_menu li {
    margin-bottom: 10px;
}

.footer_menu li a {
    color: #FFFFFF; /* branco */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_menu li a:hover {
    color: #96FAFA; /* azul claro no hover */
}

/* Copywrite */
.copywrite {
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.copywrite a {
    color: #96FAFA;
    text-decoration: none;
    transition: color 0.3s ease;
}

.copywrite a:hover {
    color: #FFFFFF;
}

/* Redes sociais */
.footer_social_area a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color:   #001E38; /* fundo azul claro */
    color: #96FAFA; /* ícones escuros */
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.footer_social_area a:hover {
    background-color: #FFFFFF; /* fundo branco */
    color: #001E38; /* ícones escuros */
}
