<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="carrosel.css">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="carrosel.css">
    
    <section>
        <div class="principal">
            <div class="text">
                <h1>COMO A NETFLIX USA I.A</h1>
                <p>O sistema de IA analisa o histórico de visualização de cada usuário (filmes assistidos, pausados,
                    avaliados, abandonados).
                    Com base nisso, sugere conteúdos que têm maior chance de agradar.
                    Cada conta recebe uma homepage única, diferente de qualquer outra.
                </p>
            </div>
            <div class="video">
                <img src="net.jpg" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="principal">
            <div class="text">
                <h1>COMO ASSISTENTES VIRTUAIS USAM I.A</h1>
                <p>Assistentes virtuais utilizam IA para compreender linguagem humana (voz ou texto), aplicam
                    aprendizado de máquina e redes neurais para gerar respostas naturais e se conectam a serviços e
                    dados para executar tarefas como buscas, organização e controle de dispositivos.</p>
            </div>
            <div class="video">
                <img src="virtual.jpeg" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="principal">
            <div class="text">
                <h1>COMO AS REDES SOCIAS USAM I.A</h1>
                <p>As redes sociais usam IA para personalizar o feed e recomendar conteúdos de acordo com os interesses
                    do usuário.
                    Também aplicam algoritmos de segurança para detectar spam, fake news e discursos de ódio.
                    Além disso, utilizam reconhecimento de imagem e voz para marcar pessoas, gerar legendas e melhorar a
                    acessibilidade.</p>
            </div>
            <div class="video">
                <img src="redessocias.jpeg" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="principal">
            <div class="text">
                <h1>NAVEGAÇÃO</h1>
                <p>Aplicações de navegação utilizam inteligência artificial para analisar o tráfego em tempo real e
                    sugerir rotas mais rápidas. Com aprendizado de máquina, elas preveem congestionamentos e padrões de
                    trânsito. Além disso, usam geolocalização para calcular trajetos, distâncias e estimativas de tempo
                    de chegada.</p>
            </div>
            <div class="video">
                <img src="navegacao.jpeg" alt="">
            </div>
        </div>
    </section>
</body>

</html>