
        <div class="container">
        <div class="slider" style="--width: 320px; --height: 300px; --quantity: 5;">
            <div class="list">
                <div class="item" style="--position: 1">
                    <div class="card" style="background: linear-gradient(135deg, #fbffcd, #fbffcd)">
                        <img class="gemini-icon" src='gemini-color.png'>
                        <h3 style="color: black;">Gemini</h3>
                        <p style="color: black;">Gemini integra múltiplas fontes de informação para oferecer respostas precisas e personalizadas.</p>
                    </div>
                </div>
                
                <div class="item" style="--position: 2">
                    <div class="card" style="background: linear-gradient(135deg, #040404, #363636)">
                        <img class="grok-icon" src="grok.png">
                        <h3>Grok</h3>
                        <p>Grok se destaca pela capacidade de compreender contextos complexos e fornecer insights detalhados em tempo real.</p>
                    </div>
                </div>

                <div class="item" style="--position: 3">
                    <div class="card" style="background: linear-gradient(135deg, #001F36, #1c5560)">
                        <img class="copilot-icon" src="copilot.png">
                        <h3>Copilot</h3>
                        <p>Copilot facilita a codificação automatizada, aumentando a produtividade de desenvolvedores com sugestões inteligentes.</p>
                    </div>
                </div>

                <div class="item" style="--position: 4">
                    <div class="card" style="background: linear-gradient(135deg, #040404, #363636)">
                        <img class="perplexity-icon" src="perplexity.png">
                        <h3>Perplexity</h3>
                        <p>Perplexity oferece respostas rápidas e confiáveis com suporte a processamento de linguagem natural avançado.</p>
                    </div>
                </div>

                <div class="item" style="--position: 5">
                    <div class="card" style="background: linear-gradient(135deg, #001F36, #1c5560)">
                        <img class="deepseek-icon" src="deepseek.png">
                        <h3>Deepseek</h3>
                        <p>Deepseek é excelente na busca profunda por dados específicos, ajudando a encontrar informações raras com eficiência.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
